//http://mathforum.org/library/drmath/view/52312.html
//http://ecx.images-amazon.com/images/I/71eoP0%2BxkxS._SL1200_.jpg
//https://en.wikipedia.org/wiki/Piano_key_frequencies
//https://developer.mozilla.org/en-US/docs/Web/API/OscillatorNode
//.warning
  | Work in progress!
#kaoss
  .metal
    button.btn.knob
      - var n = 0
      while n < 12
        //test
        - n++
        .knob-dent
    .rnd-container#wave
      button.btn.rnd.btn-sine
        -box="-1 -1 10 10"
        svg#sine(viewBox=box)
          path(d='M 0,4 C 0,4 0,1 2,1 4,1 4,7 6,7 8,7 8,4 8,4')
      button.btn.rnd.btn-square
        svg#square(viewBox=box)
          path(d='M 0,1 0,7 4,7 4,1 8,1 8,7')
      button.btn.rnd.btn-triangle
        svg#triangle(viewBox=box)
          path(d='M 0,4 2,8 6,0 8,4')
    #lcd
      //p.display
    .form-container
      form#options(name="settings")
        .form-group
          label(for="type")
            | Type
          select(id="type")
            option(value="sine") sine
            option(value="square") square
            option(value="triangle") triangle
            
        .form-group
          label(for="tonic") Tonic
          select(id="tonic")
            each note in ['C','C#','D','D#','E','F','F#','G','G#','A','A#','B']
              option(value=note)=note
        .form-group
          label(for="octave") Octave
          select(id="octave")
            each octave in [-1,0,1,2,3,4,5,6]
              option(value=octave)=octave
               
        .form-group
          label(for="mode") Mode
          select(id="mode")
            each mode in ['none','semitone','ionian','dorian','phrygian','lydian','mixolydian','aeolian','locrian']
              option(value=mode)=mode
               
            
          //input(type="range",min="-1",max="1")
    canvas#pad
